    div{display: flex;
    gap: 20px;
    background-color:cornflowerblue;
    padding: 15px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    border-radius: 15px;
    }
    h1{font-size: 27px;
    text-transform: capitalize;
    text-decoration: wavy;
    margin-right: 400px;
    }
    a{text-transform: capitalize;
    text-decoration: none;
    color: black;}
    div{display: flex;
    gap: 20px;
    background-color:cornflowerblue;
    padding: 15px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    border-radius: 15px;
    }
    h1{font-size: 27px;
    text-transform: capitalize;
    text-decoration: wavy;
    margin-right: 400px;
    }
    a{text-transform: capitalize;
    text-decoration: none;
    color: black;}
